@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  margin: 0;
  padding: 0;
}
.header-box {
  background-color: #f47142;
  margin: 0 auto;
}
.header-text,
.header-title,
.header-subtitle {
  font-family: 'Poppins';
  text-align: center;
}
.header-title {
  font-size: 4rem;
}
.header-subtitle {
  font-size: 3rem;
}
.body-box {
  background-color: #99ffc3;
  padding: 50px 200px;
}
.body-text,
.cv-div,
.bio-div {
  font-family: 'Poppins';
}
.bio-div {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}
.bio-div:after {
  content: "";
  flex: 0 0 40%;
  background-repeat: no-repeat;
  background-size: auto 80%;
  background-image: url("../assets/webpic.png");
  background-position: center;
}
.bio-text {
  flex: 0 0 60%;
}
