@require "main";

// TODO: Use media queries to rearrange the flex style and make it responsive

.bio-div
    @extend .body-text
    display: flex
    flex-direction: row
    justify-content: center

.bio-text
    order: 0
    margin: auto 40px auto 0

.bio-pic-box
    order: 1
    margin: auto

.bio-pic
    width: 100%
    height: auto