@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0
    padding: 0
}

.header-box 
    background-color: #f47142

.header-text
    font-family: 'Poppins'

.header-title
    @extend .header-text 

.header-subtitle
    @extend .header-text

